<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>organisation</key>
	<dict>
		<key>classname</key>
		<string>COrganisation</string>
		<key>properties</key>
		<array>
			<dict>
				<key>internalName</key>
				<string>name</string>
				<key>name</key>
				<string>name</string>
				<key>type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>internalName</key>
				<string>users</string>
				<key>name</key>
				<string>users</string>
				<key>type</key>
				<string>array</string>
			</dict>
		</array>
		<key>supertype</key>
		<string></string>
		<key>typename</key>
		<string>organisation</string>
	</dict>
	<key>user</key>
	<dict>
		<key>classname</key>
		<string>CUser</string>
		<key>properties</key>
		<array>
			<dict>
				<key>internalName</key>
				<string>name</string>
				<key>name</key>
				<string>name</string>
				<key>type</key>
				<string>string</string>
			</dict>
			<dict>
				<key>internalName</key>
				<string>age</string>
				<key>name</key>
				<string>age</string>
				<key>type</key>
				<string>integer</string>
			</dict>
			<dict>
				<key>internalName</key>
				<string>tags</string>
				<key>name</key>
				<string>tags</string>
				<key>type</key>
				<string>array</string>
			</dict>
		</array>
		<key>supertype</key>
		<string></string>
		<key>typename</key>
		<string>user</string>
	</dict>
</dict>
</plist>
